<link rel="stylesheet" href="/css/log.css">
<div class="container">
    <div class="login-container text-c animated flipInX main-bg">
            <div>
                <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
            </div>
                <h3 class="text-whitesmoke">Recuperar el acceso a tu cuenta</h3>
                <br>
            <div class="container-content">
                <form id="recuperar" class="margin-t" action="/session/forgot" method="POST">
                    {{#if error}}
                        <div class="input-group mt-4"></div>
                            <label class="error">El usuario o correo no se encuentra registrado</label>
                        </div>
                    {{/if}}
                    <div class="input-group mt-4">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        <input type="text" name="email" class="form-control" placeholder="correo" aria-label="email" aria-describedby="basic-addon1">
                    </div>
                    
                    <button type="submit" class="form-button button-l margin-b mt-4">Continuar</button>

                </form>

                <p class="text-whitesmoke text-center">
                    <small>¿No tiene una cuenta?</small>
                    <a class="text-darkyellow" href="/session/register"><small>Regístrate</small></a>
                </p>
                <a class="text-darkyellow" href="/session/login"><small>Acceder</small></a>
            </div>
    </div>
</div>

<script src="/js/validar.js"></script>